<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UniNotes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  </head>
  <body>
    <div class="container">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <h1>Faça seu login</h1>
        <form method="POST" action="{{ url_for('authenticate') }}">
            <input type="hidden" name="proxima" value="{{ proxima or url_for('index') }}">

            {{ form.csrf_token }}

            <div class="form-group">
                {{ form.user_id.label(class="form-label") }}
                {{ form.user_id(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>

            <div>
                {{ form.login(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</body>
</html>